.contenedor {
  width: 100%;
  height: 800px;
  background-color: pink;
}

.centrar{
  text-align: center;
}

.padding10 {
  padding-top: 10%;
}

li {
  display: inline;
  list-style: none;
}

img {
  width: 35%;
  height: 200px;
  display: none;
  padding-left: 31%;
}

#imgBruja {
  display: block;
}
